<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="sboulet.assignment1" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MenuActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SingleplayerActivity"
            android:label="@string/title_activity_singleplayer" >
        </activity>
        <activity
            android:name=".PlayerSelectActivity"
            android:label="@string/title_activity_player_select" >
        </activity>
        <activity
            android:name=".TwoPlayerActivity"
            android:label="@string/title_activity_two_player" >
        </activity>
        <activity
            android:name=".ThreePlayerActivity"
            android:label="@string/title_activity_three_player" >
        </activity>
        <activity
            android:name=".FourPlayerActivity"
            android:label="@string/title_activity_four_player" >
        </activity>
        <activity
            android:name=".StatisticsSelectActivity"
            android:label="@string/title_activity_statistics_select" >
        </activity>
        <activity
            android:name=".ReactionTimeSelectActivity"
            android:label="@string/title_activity_reaction_time_select" >
        </activity>
        <activity
            android:name=".PlayerPressSelectActivity"
            android:label="@string/title_activity_player_press_select" >
        </activity>
        <activity
            android:name=".MinimumReactionActivity"
            android:label="@string/title_activity_minimum_reaction" >
        </activity>
        <activity
            android:name=".MaximumReactionActivity"
            android:label="@string/title_activity_maximum_reaction" >
        </activity>
        <activity
            android:name=".AverageReactionActivity"
            android:label="@string/title_activity_average_reaction" >
        </activity>
        <activity
            android:name=".MedianReactionActivity"
            android:label="@string/title_activity_median_reaction" >
        </activity>
        <activity
            android:name=".TwoPlayerPressActivity"
            android:label="@string/title_activity_two_player_press" >
        </activity>
        <activity
            android:name=".ThreePlayerPressActivity"
            android:label="@string/title_activity_three_player_press" >
        </activity>
        <activity
            android:name=".FourPlayerPressActivity"
            android:label="@string/title_activity_four_player_press" >
        </activity>
        <activity
            android:name=".ClearActivity"
            android:label="@string/title_activity_clear" >
        </activity>
        <activity
            android:name=".EmailActivity"
            android:label="@string/title_activity_email" >
        </activity>
    </application>

</manifest>
