<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="sboulet.assignment1" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MenuActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SingleplayerActivity"
            android:label="@string/title_activity_singleplayer" >
        </activity>
        <activity
            android:name=".GameshowActivity"
            android:label="@string/title_activity_gameshow" >
        </activity>
        <activity
            android:name=".StatisticsActivity"
            android:label="@string/title_activity_statistics" >
        </activity>
        <activity
            android:name=".SingleplayerOpeningActivity"
            android:theme="@android:style/Theme.Holo.Dialog"
            android:label="@string/title_activity_singleplayer_opening" >
        </activity>
    </application>

</manifest>
